@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
  display: flex;
  flex-direction: column;
}

.timezone {
  width: 300px;
  display: inline-block;
  margin-right: 15px;
}

.cardTopRow {
  display: flex;
  justify-content: space-between;
}

.topRow {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.topRow > div:first-child {
  margin-right: 20px;
}

.cardButtons {
  display: flex;
  margin-top: 10px;
}

.cardButtons button:first-child {
  margin-right: 5px;
}

.cardButtons button {
  font-size: 12px;
}

